{% extends "base.html" %}

{% load static %}

{% block content %}
<br>
<div class="row">
    <div class="col-lg-5">
        <div class="box-element" id='form-wrapper'>
            <form action="" id="form">

                <div id="user-info">
                    <p>Informations Personnelles:</p>

                    <div class="form-field">
                        <input type="text" class="form-control" name="name" placeholder="Nom..." required>
                    </div>

                    <div class="form-field">
                        <input type="text" class="form-control" name="username" placeholder="Prénom..." required>
                    </div>

                    <div class="form-field">
                        <input type="number" class="form-control" name="phone" placeholder="Tel..." required>
                    </div>

                    <div class="form-field">
                        <input type="email" class="form-control" name="email" placeholder="Email..." required>
                    </div>

                </div>

                <div id="shipping-info">
                    <hr>
                    <p>Informations d'Expédition:</p>

                    <div class="form-field">
                        <input type="text" class="form-control" name="address" placeholder="address..." required>
                    </div>

                    <div class="form-field">
                        <input type="text" class="form-control" name="city" placeholder="Ville..." required>
                    </div>

                    <div class="form-field">
                        <input type="text" class="form-control" name="state" placeholder="Pays..." required>
                    </div>

                    <div class="form-field">
                        <input type="text" class="form-control" name="zipcode" placeholder="Zip code..." required>
                    </div>

                </div>
                
                <hr>
                <input id="form-button" class="btn w-100 btn-success btn-block" type="submit" value="Continuer">
            </form>

        </div>

        <br>

        <div class="box-element hidden" id="payment-info">
            <small>Veillez choissir le Mode de paiement</small> <br>
            <input type="radio" name = ".." value="paypal"> Paypal<img class="row-image" 
            src="{% static 'images/paypal.png' %}" alt="">
            <input type="radio" name = ".." value="mobile"> Mobile Money 
            <img class="row-image" src="{% static 'images/cinetpay.png' %}" alt="">

            <button class="btn w-100 btn-success btn-block" id="make-payment"> Effectuer le paiement </button>
        </div>

    </div>



    <div class="col-lg-7">
        <div class="box-element">

            <a class="btn btn-outline-dark" href="{% url 'shop:panier' %}">&#x2190; Retour au panier </a>

            <hr>
            <h3>Recapitulatif de la commande</h3>
            <hr>
        {% for article in articles  %}
        
            <div class="panier-row">
                <div style="flex:2"><img class="row-image" src="{{article.produit.imageUrl}}" alt=""></div>
                <div style="flex:2">{{article.produit.name}}</div>
                <div style="flex:1">${{article.produit.price}}</div>
                <div style="flex:1">x{{article.quantite}}</div>
            </div>
        {% endfor %}


            <h5>Articles: {{commande.get_panier_article}}</h5>
            <h5>Articles: ${{commande.get_panier_total|floatformat:2}}</h5>
            
        </div>
    </div>
</div>

<script type="text/javascript">

    var produitPhysique = '{{commande.produit_physique}}';

    var total = parseInt('{{commande.get_panier_total}}');


    if( produitPhysique === 'False'){
        document.getElementById('shipping-info').innerHTML = '';
    }

    if ( user != "AnonymousUser"){
        document.getElementById('user-info').innerHTML = '';
    }

    if ( produitPhysique == "False" && user != "AnonymousUser"){
        document.getElementById('form-wrapper').classList.add('hidden');
        document.getElementById('payment-info').classList.remove('hidden');

    }

    form = document.getElementById('form');

    form.addEventListener('submit', function(e){
        e.preventDefault();
        console.log('envoi des donnee ....');
        document.getElementById('form-button').classList.add('hidden');
        document.getElementById('payment-info').classList.remove('hidden');
    })

    document.getElementById('make-payment').addEventListener('click', function(e){
        submitFormData();
    })

    function submitFormData(){
        
        var userFormData = {
            'name':null,
            'username':null,
            'phone': null,
            'email': null,
            'total': total,
        }

        var shippingUserInfo = {
            'address':null,
            'city':null,
            'state':null,
            'zipcode':null,
        }

        if (produitPhysique != "False"){
            shippingUserInfo.address = form.address.value;
            shippingUserInfo.city = form.city.value;
            shippingUserInfo.state = form.state.value;
            shippingUserInfo.zipcode = form.zipcode.value;
        }

        if (user == "AnonymousUser"){
            userFormData.name = form.name.value;
            userFormData.username = form.username.value;
            userFormData.phone = form.phone.value;
            userFormData.email = form.email.value;

            console.log(userFormData);
        }

        var url = '/traitement-commande/';

        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrftoken
            },
            body: JSON.stringify({"form": userFormData, "shipping": shippingUserInfo})
        })

        .then((response) => {
            return response.json();
        })

        .then((data) => {
            console.log('data', data);
            alert('traitement commande termine');
            panier = {};
            document.cookie = "panier=" + JSON.stringify(panier) + ";domain=;path=/";
            window.location.href = "{% url 'shop:shop' %}";
        })
    }
</script>

{% endblock content %}