{% extends "base.html" %}

{% load static %}

{% block content %}
<br>
<div class="row">
    <div class="col-lg-5">
        <div class="box-element" id='form-wrapper'>
            <form action="" id="form">
            {% csrf_token %}

                <div id="user-info">
                    <p>Informations Personnelles:</p>

                    <div class="form-field">
                        <input type="text" class="form-control" name="name" placeholder="Nom..." required>
                    </div>

                    <div class="form-field">
                        <input type="text" class="form-control" name="username" placeholder="Prénom..." required>
                    </div>

                    <div class="form-field">
                        <input type="number" class="form-control" name="phone" placeholder="Tel..." required>
                    </div>

                    <div class="form-field">
                        <input type="email" class="form-control" name="email" placeholder="Email..." required>
                    </div>

                </div>

                <div id="shipping-info">
                    <hr>
                    <p>Informations d'Expédition:</p>

                    <div class="form-field">
                        <input type="text" class="form-control" name="address" placeholder="address..." required>
                    </div>

                    <div class="form-field">
                        <input type="text" class="form-control" name="city" placeholder="Ville..." required>
                    </div>

                    <div class="form-field">
                        <input type="text" class="form-control" name="state" placeholder="Pays..." required>
                    </div>

                    <div class="form-field">
                        <input type="text" class="form-control" name="zipcode" placeholder="Zip code..." required>
                    </div>

                </div>
                
                <hr>
                <input id="form-button" class="btn w-100 btn-success btn-block" type="submit" value="Continuer">
            </form>

        </div>

        <br>

        <div class="box-element hidden" id="payment-info">
            <small>Veillez choissir le Mode de paiement</small> <br>
        <center class="bg-info  my-3"> <button onclick="checkout()" class="btn btn-block" >
            <img class="row-image" src="{% static 'images/cinet.png' %}" alt=""> </button> </center>
            
            <div id="paypal-button-container"></div>

            
        </div>

    </div>



    <div class="col-lg-7">
        <div class="box-element">

            <a class="btn btn-outline-dark" href="{% url 'shop:panier' %}">&#x2190; Retour au panier </a>

            <hr>
            <h3>Recapitulatif de la commande</h3>
            <hr>
        {% for article in articles  %}
        
            <div class="panier-row">
                <div style="flex:2"><img class="row-image" src="{{article.produit.imageUrl}}" alt=""></div>
                <div style="flex:2">{{article.produit.name}}</div>
                <div style="flex:1">${{article.produit.price}}</div>
                <div style="flex:1">x{{article.quantite}}</div>
            </div>
        {% endfor %}


            <h5>Articles: {{commande.get_panier_article}}</h5>
            <h5>Articles: ${{commande.get_panier_total|floatformat:2}}</h5>
            
        </div>
    </div>
</div>

 <!-- Include the PayPal JavaScript SDK -->
 <script src="https://www.paypal.com/sdk/js?client-id=AZ0eZylbqLFaIEyWfH74MMFdCYRiR9PgIVKXjJiReDinExGn6ugJD1qFPge5bT_doUFj3Fu8Eil0DvPJ&currency=USD"></script>

 <script>
     var total = parseFloat('{{commande.get_panier_total}}').toFixed(2);
     // Render the PayPal button into #paypal-button-container
     paypal.Buttons({
         
         style:{
            color: 'blue',
            shape: 'rect',
         },
         // Set up the transaction
         createOrder: function(data, actions) {
             return actions.order.create({
                 purchase_units: [{
                     amount: {
                         value: total
                     }
                 }]
             });
         },

         // Finalize the transaction
         onApprove: function(data, actions) {
             return actions.order.capture().then(function(orderData) {
                 // Successful capture! For demo purposes:
                 console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                 var transaction = orderData.purchase_units[0].payments.captures[0];

                 submitFormData(transaction.id, transaction.status);

                 // Replace the above to show a success message within this page, e.g.
                 // const element = document.getElementById('paypal-button-container');
                 // element.innerHTML = '';
                 // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                 // Or go to another URL:  actions.redirect('thank_you.html');
             });
         }


     }).render('#paypal-button-container');
 </script>
 
 <script>
    function checkout() {
        CinetPay.setConfig({
            apikey: '',//   YOUR APIKEY
            site_id: '',//YOUR_SITE_ID
            notify_url: 'http://mondomaine.com/notify/',
            mode: 'TEST'
        });
        CinetPay.getCheckout({
            transaction_id: Math.floor(Math.random() * 100000000).toString(), // YOUR TRANSACTION ID
            amount: total * 650,
            currency: 'XAF',
            channels: 'ALL',
            description: 'Test de paiement',   

        });
        CinetPay.waitResponse(function(data) {
          
            submitFormData(data.operator_id, data.status);
            $("#cp_modal_first_parent").hide();
            
        });
        CinetPay.onError(function(data) {
            console.log(data);
        });
    }
</script>

<script type="text/javascript">

    var produitPhysique = '{{commande.produit_physique}}';

    var total = parseFloat('{{commande.get_panier_total}}').toFixed(2);


    if( produitPhysique === 'False'){
        document.getElementById('shipping-info').innerHTML = '';
    }

    if ( user != "AnonymousUser"){
        document.getElementById('user-info').innerHTML = '';
    }

    if ( produitPhysique == "False" && user != "AnonymousUser"){
        document.getElementById('form-wrapper').classList.add('hidden');
        document.getElementById('payment-info').classList.remove('hidden');

    }

    form = document.getElementById('form');
    csrftoken = form.getElementsByTagName('input')[0].value
    console.log('neauveau token', csrftoken);

    form.addEventListener('submit', function(e){
        e.preventDefault();
        console.log('envoi des donnee ....');
        document.getElementById('form-button').classList.add('hidden');
        document.getElementById('payment-info').classList.remove('hidden');
    })

    // document.getElementById('make-payment').addEventListener('click', function(e){
    //     submitFormData();
    // })

    function submitFormData(transactionId, status){

        var paymentInfo = {
            'transaction_id': transactionId,
            'status': status
        }
        
        var userFormData = {
            'name':null,
            'username':null,
            'phone': null,
            'email': null,
            'total': total,
        }

        var shippingUserInfo = {
            'address':null,
            'city':null,
            'state':null,
            'zipcode':null,
        }

        if (produitPhysique != "False"){
            shippingUserInfo.address = form.address.value;
            shippingUserInfo.city = form.city.value;
            shippingUserInfo.state = form.state.value;
            shippingUserInfo.zipcode = form.zipcode.value;
        }

        if (user == "AnonymousUser"){
            userFormData.name = form.name.value;
            userFormData.username = form.username.value;
            userFormData.phone = form.phone.value;
            userFormData.email = form.email.value;

            console.log(userFormData);
        }

        var url = '/traitement-commande/';

        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrftoken
            },
            body: JSON.stringify({"form": userFormData, "shipping": shippingUserInfo, 'payment_info': paymentInfo})
        })

        .then((response) => {
            return response.json();
        })

        .then((data) => {
            console.log('data', data);
            //alert(data);
            $("#cp_modal_first_parent").hide();
            Swal.fire({icon:'info',text:data}).then(result => {
                window.location.href = "{% url 'shop:shop' %}";
            });
            panier = {};
            document.cookie = "panier=" + JSON.stringify(panier) + ";domain=;path=/";
        })
    }
</script>

{% endblock content %}