{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="row">
        <!-- debut -->
        {% for produit in produits  %}
    
        <div class="col-lg-4">
            <img class="thumbnail"  src="{{ produit.imageUrl }}"/>
            <div class="box-element product">
                <h6>{{produit.name}}</h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn update-panier" data-produit={{produit.pk}} data-action="add">
                Ajouter au panier</button>
                <a class="btn btn-outline-success" href="#">Voir</a>
                <h3 style="float: right;">${{produit.price|floatformat:2}}</h3>
            </div>
        </div>
        {% endfor %}
        <!-- fin -->



    </div>

{% endblock content %}