{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="row">
        <!-- debut -->
        <div class="col-lg-4">
            <img class="thumbnail"  src="{% static 'images/cart-img.png' %}"/>
            <div class="box-element product">
                <h6>Produit</h6>
                <hr>
                <button class="btn btn-outline-secondary">Ajouter au panier</button>
                <a class="btn btn-outline-success" href="#">Voir</a>
                <h3 style="float: right;">$10</h3>
            </div>
        </div>
        <!-- fin -->

        <!-- debut -->
        <div class="col-lg-4">
            <img  class="thumbnail" src="{% static 'images/cart-img.png' %}"/>
            <div class="box-element product">
                <h6>Produit</h6>
                <hr>
                <button class="btn btn-outline-secondary">Ajouter au panier</button>
                <a class="btn btn-outline-success" href="#">Voir</a>
                <h3 style="float: right;">$10</h3>

            </div>
        </div>
        <!-- fin -->

        <!-- debut -->
        <div class="col-lg-4">
            <img  class="thumbnail" src="{% static 'images/cart-img.png' %}"/>
            <div class="box-element product">
                <h6>Produit</h6>
                <hr>
                <button class="btn btn-outline-secondary">Ajouter au panier</button>
                <a class="btn btn-outline-success" href="#">Voir</a>
                <h3 style="float: right;">$10</h3>
            </div>
        </div>
        <!-- fin -->



    </div>

{% endblock content %}