{% extends "base.html" %}

{% load static %}

{% block content %}
<br>
<div class="row">
    <div class="col-lg-12">

        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'shop:shop' %}">&#x2190; Continuer vos achats</a>
            <br><br>
            <table class="table">
                <tr>
                    <th><h5>Articles: <strong>{{commande.get_panier_article}}</strong></h5></th>
                    <th><h5>Total: <strong>${{commande.get_panier_total|floatformat:2}}</strong></h5></th>
                    <th>
                        <a style="float: right; margin:5px" href="{% url 'shop:commande' %}" class="btn btn-success">
                            Vérifier</a>
                    </th>
                </tr>
            </table>
        </div>

        <br>

        <div class="box-element">

            <div class="panier-row">
                <div style="flex:2"></div>
                <div style="flex:2"><strong>Article</strong></div>
                <div style="flex:1"><strong>Prix</strong></div>
                <div style="flex:1"><strong>Quantité</strong></div>
                <div style="flex:1"><strong>Total</strong></div>
            </div>
        {% for article in articles  %}
          
            <div class="panier-row">
                <div style="flex:2"><img class="row-image" src="{{article.produit.imageUrl}}" alt=""></div>
                <div style="flex:2"> {{article.produit.name}}</div>
                <div style="flex:1">${{article.produit.price|floatformat:2}}</div>
                <div style="flex:1">
                    <p class="quantite">{{article.quantite}}</p>
                    <div class="quantite">
                        <img class="chg-quantite update-panier" data-produit="{{article.produit.id}}" 
                        data-action="add" src="{% static 'images/arrow-up.png' %}" alt="">

                        <img class="chg-quantite update-panier" data-produit="{{article.produit.id}}" 
                        data-action="remove" src="{%  static 'images/arrow-down.png' %}" alt="">
                    </div>
                </div>
                <div style="flex:1">${{article.get_total}}</div>
            </div>

        {% endfor %}      

        </div>

    </div>
</div>

{% endblock content %}